<navbar></navbar>

<!-- index-block1 -->
<div class="w3l-index-block1">
  <div class="content py-3">
    <div class="row align-items-center">
      <form [formGroup]="searchForm" id="channel-form" (ngSubmit)="onSubmit()" autocomplete="false"
        style="margin: auto; text-align: center;">
        <mat-card class="search-card">
          <mat-card-header class="formContent">
            <div mat-card-avatar class="form-header-image"></div>
            <mat-card-title>Search Customer Details</mat-card-title>
            <mat-card-subtitle>Search Customer Details</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content >
            <mat-form-field appearance="outline" class="formContent">
              <mat-label>Emirates ID</mat-label>
              <input matInput placeholder="Enter Emirates ID" formControlName="eid">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field><br>
            <mat-form-field appearance="outline"  class="formContent">
              <mat-label>Card Number</mat-label>
              <input matInput placeholder="Enter Card Number" formControlName="cardNo">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field><br>
            <mat-form-field appearance="outline"  class="formContent">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Placeholder" formControlName="mobileNo">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field><br>
            <mat-form-field appearance="outline"  class="formContent">
              <mat-label>CIF</mat-label>
              <input matInput placeholder="Placeholder" formControlName="cif">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field><br>
            <mat-form-field appearance="outline"  class="formContent">
              <mat-label>AWB Number</mat-label>
              <input matInput placeholder="Placeholder" formControlName="awb">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"  type="submit" routerLink="/details">Search</button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>