.search-card {
  max-width: 800px;
}

.form-header-image {
  background-image: url('https://storage.needpix.com/rsynced_images/database-search-2797375_1280.png');
  background-size: cover;
}

.formContent {
  width: 350px;
}

mat-card-header {
  display:flex;
  justify-content:center;
}