<!-- <h1 mat-dialog-title>Verification</h1> -->
<div mat-dialog-content style="text-align: center; width: 350px;">

  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'vid'">
      Verify Identity Card
      <br><br>
      <img src="assets/images/vid.png" style="width: 100px; height: 100px;"alt="">
      <br>
      <button mat-raised-button (click)="viewMode='bio'">Next</button><br>
    </div>
    <div *ngSwitchCase="'bio'">
      Biometrics Verification
      <br><br>
      <img src="assets/images/finger.jpg" style="width: 100px; height: 100px;"alt="">
      <br><br>
      <button mat-raised-button (click)="viewMode='fetchCust'">Next</button><br>
    </div>
    <div *ngSwitchCase="'fetchCust'">
      <br><br>
      <img src="assets/images/user.webp" style="width: 100px; height: 100px;"alt="">
      <br><br>
      <button mat-raised-button (click)="viewMode='finger'">Fetch Customer Details</button><br>
    </div>
    <div *ngSwitchCase="'finger'">
      <br><br>
      <img src="assets/images/finger.jpg" style="width: 70px; height: 70px;"alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="assets/images/finger.jpg" style="width: 70px; height: 70px;"alt=""><br><br>
      LEFT_THUMB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RIGHT_THUMB
      <br><br>
      <button mat-raised-button mat-dialog-close routerLink="/kyc-data">Start</button><br>
    </div>
  </div>
  <!-- Verify Identity Card
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul> -->
</div>