<navbar></navbar>

<div class="w3l-index6" id="news">
    <!-- grids block 5 -->
    <section id="grids5-block" class="py-2">
      <div class="container py-lg-3">
        <div class="heading text-center">
          <h1 class="">Fetching Template</h1>
          <p>Processing your request, it may take a while</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mt-5" style="margin: auto;">
            <div class="grids5-info">
              <img class="icon-scb" style="width: 150px;" [attr.src]="logoSecondary" />
              <div class="" style="text-align: center;"> 
                <h1>FH General Template</h1>                
                <p>{{ orgName }}</p>
                <a (click)="openDialog()" class="btn btn-outline-secondary mt-4">Start KYC</a>
                <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>