<!-- <p>transaction-details works!</p> -->
<!-- <p>search-customer works!</p> -->

<navbar></navbar>

<!-- index-block1 -->
<div class="w3l-index-block1">
    <div class="content py-3">
        <h1>
            <center>Transaction Details</center>
        </h1>
        <div class="container py-lg-4">
            <div class="row align-items-center">
                <form [formGroup]="detailsForm" id="detailsForm" (ngSubmit)="onSubmit()" autocomplete="false"
                    style="margin: auto; text-align: center;">
                    <div class="form-group">
                        <label for="eidExp">Emirates ID Expiry Date</label>
                        <input id="eidExp" type="text" formControlName="eidExp" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="passportExp">Passport Expiry Date</label>
                        <input id="passportExp" type="text" formControlName="passportExp" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input id="customerName" type="text" formControlName="customerName" class="form-control"
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="cifId">CIF Id</label>
                        <input id="cifId" type="text" formControlName="cifId" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="passportNo">Passport Number</label>
                        <input id="passportNo" type="text" formControlName="passportNo" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="molNo">MOL Number</label>
                        <input id="molNo" type="text" formControlName="molNo" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="emiratesId">Emirates Id</label>
                        <input id="emiratesId" type="text" formControlName="emiratesId" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="nationality">Nationality</label>
                        <input id="nationality" type="text" formControlName="nationality" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input id="dob" type="text" formControlName="dob" class="form-control" disabled>
                    </div>
                    <button type="" routerLink="/template-load" class="btn btn-primary">Next</button>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>