<navbar></navbar>

<!-- index-block1 -->
<div class="w3l-index-block1" style="margin: auto; text-align: center;">
  <div class="content py-3">
    <div class="container py-lg-4">
      <div class="row align-items-center" >
        <mat-card class="verification-card">
          <mat-card-header class="formContent">
            <div mat-card-avatar class="form-header-image"></div>
            <mat-card-title>Verify Yourself</mat-card-title>
            <mat-card-subtitle>Follow the instructions for verification</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-horizontal-stepper linear style="margin: auto;">
              <mat-step label="Read Card" completed=true>
                <p>Insert your card in card reader</p>
                <div style="text-align: right;">
                  <button mat-button matStepperNext>Next</button>
                </div>
              </mat-step>
              <mat-step label="Card Verification"> <!-- completed=false/true -->
                <p>Verifying Card Data</p>
                <div style="text-align: right;">
                  <!-- <button mat-button matStepperPrevious>Back</button> -->
                  <button mat-button matStepperNext>Next</button>
                </div>
              </mat-step>
              <mat-step label="Biometrics Verification">
                <p>Place your fingers on device</p>
                <div>
                  <!-- <button mat-button matStepperPrevious>Back</button> -->
                </div>
              </mat-step>         
            </mat-horizontal-stepper>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"  type="submit" routerLink="/searchCustomer">Proceed</button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>